$color-white: #fff;
$gray-color: #777;
$color-primary-dark: rgb(60, 56, 136);
$color-primary-light: #258759;

$standard-font-size: 1.6rem;
$tertiary-heading: 2.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$color-grey-light-1: #f7f7f7;
