.composition {
  position: relative;
  &__photo {
    width: 55%;
    border-radius: 10px;
    position: absolute;
    outline-offset: 2rem;
    transition: all 0.5s;
    box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.4);

    &--p1 {
      left: 0;
      top: -2.5rem;
    }

    &--p2 {
      right: 0;
      top: 2.5rem;
    }

    &--p3 {
      left: 20%;
      top: 12rem;
    }

    &:hover {
      outline: 1rem solid $color-primary-dark;
      transform: scale(1.1);
      box-shadow: 0rem 1.5rem 2.5rem rgba(0, 0, 0, 0.2);
      z-index: 1;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
  }
}
